<div class="filter">
  <h2 class="title">Filter</h2>
  <mat-form-field *ngIf="filter" appearance="fill">
    <mat-label>Monat</mat-label>
    <mat-select [(value)]="filter.monthOption" (selectionChange)="changeFilter()">
      <mat-option *ngFor="let option of monthOptions" [value]="option.value">{{option.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="filter" appearance="fill">
    <mat-label>Zeit</mat-label>
    <mat-select [(value)]="filter.timeOption" (selectionChange)="changeFilter()">
      <mat-option *ngFor="let option of timeOptions" [value]="option.value">{{option.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
