.domain-title {
  margin-bottom: 1rem;
}
.domain {
  margin: 1rem 1rem .5rem 1rem;
}
.domain-animals {
  padding-top: 1rem;
}
.header-icon {
  margin-right: .5rem;
}
@media screen and (max-width: 720px) {
  .domain {
    margin: 0 0 1rem 0;
  }
}
