<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="icon" class="header-icon">{{icon}}</span>
      <span class="header-text">{{header}}</span>
    </mat-panel-title>
    <mat-panel-description class="domain-amount">
      {{animals.length}} Tiere
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="domain-animals">
    <app-animal-detail *ngFor="let animal of animals" [animal]="animal"></app-animal-detail>
  </div>
</mat-expansion-panel>

<!--
<mat-grid-list cols="{{columns}}" rowHeight="{{height}}">
  <mat-grid-tile *ngFor="let animal of animals">
    <app-animal-detail [animal]="animal"></app-animal-detail>
  </mat-grid-tile>
</mat-grid-list>
-->
