.domain-title {
  margin-bottom: 1rem;
}
.domain {
  margin: 1rem 1rem .5rem 1rem;
}
.domain-animals {
  margin-left: -24px;
  margin-right: -24px;
  display: grid;
  grid-template-columns: 100vw;
}
.header-icon {
  margin-right: .5rem;
}
@media screen and (max-width: 720px) {
  .domain {
    margin: 0 0 1rem 0;
  }
}
.domain-amount {
  justify-content: flex-end;
}
.mat-expansion-panel-body {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 320px) {
  .domain-animals {
    grid-template-columns: 50vw 50vw;
  }
}
@media screen and (min-width: 576px) {
  .domain-animals {
    grid-template-columns: 33vw 33vw 33vw;
  }
}
@media screen and (min-width: 768px) {
  .domain-animals {
    grid-template-columns: 25vw 25vw 25vw 25vw;
  }
}
@media screen and (min-width: 992px) {
  .domain-animals {
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .domain-animals {
    grid-template-columns: 16.5vw 16.5vw 16.5vw 16.5vw 16.5vw 16.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .domain-animals {
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
  }
}
