<mat-card class="domain">
  <mat-card-title class="domain-title">
    <span class="header-icon">{{icon}}</span>
    <span class="header-text" matBadge="{{animals.length}}" matBadgeColor="accent" matBadgeOverlap="false">{{header}}</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="domain-animals">
    <mat-grid-list cols="{{columns}}">
      <mat-grid-tile *ngFor="let animal of animals">
        <app-animal-detail [animal]="animal"></app-animal-detail>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
