<div class="sort">
  <h2 class="title">Sortierung</h2>
  <mat-form-field *ngIf="filter" appearance="fill">
    <mat-label>Sortieren nach</mat-label>
    <mat-select [(value)]="filter.sortProperty" (selectionChange)="changeFilter()">
      <mat-option *ngFor="let option of propertyOptions" [value]="option.value">{{option.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="filter" appearance="fill">
    <mat-label>Zeit</mat-label>
    <mat-select [(value)]="filter.sortOrder" (selectionChange)="changeFilter()">
      <mat-option *ngFor="let option of orderOptions" [value]="option.value">{{option.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
