.animal {
  border-radius: .5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.animal img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.animal-properties .animal-prop {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.animal-properties .animal-prop:last-child {
  border-bottom: none;
}
