$md-persian-green: (
    50 : #e5f3f2,
    100 : #bfe2dd,
    200 : #95cec7,
    300 : #6abab1,
    400 : #4aaca0,
    500 : #2a9d8f,
    600 : #259587,
    700 : #1f8b7c,
    800 : #198172,
    900 : #0f6f60,
    A100 : #a3ffef,
    A200 : #70ffe6,
    A400 : #3dffdd,
    A700 : #24ffd8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-maize-crayola: (
    50 : #fcf8ed,
    100 : #f8edd2,
    200 : #f4e2b5,
    300 : #f0d697,
    400 : #eccd80,
    500 : #e9c46a,
    600 : #e6be62,
    700 : #e3b657,
    800 : #dfaf4d,
    900 : #d9a23c,
    A100 : #ffffff,
    A200 : #fffbf3,
    A400 : #ffe8c0,
    A700 : #ffdea7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-burnt-sienna: (
    50 : #fceeea,
    100 : #f8d4cb,
    200 : #f3b7a8,
    300 : #ee9a85,
    400 : #eb856b,
    500 : #e76f51,
    600 : #e4674a,
    700 : #e05c40,
    800 : #dd5237,
    900 : #d74027,
    A100 : #ffffff,
    A200 : #ffe4e0,
    A400 : #ffb8ad,
    A700 : #ffa194,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
