@use '@angular/material' as mat;
@import 'palettes.scss';
@include mat.core();

$acnh-v2-primary: mat.define-palette($md-persian-green);
$acnh-v2-accent: mat.define-palette($md-maize-crayola);
$acnh-v2-warn: mat.define-palette($md-burnt-sienna);
$theme: mat.define-light-theme((
  color: (
    primary: $acnh-v2-primary,
    accent: $acnh-v2-accent,
    warn: $acnh-v2-warn
  )
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
